<template>
  <v-container fluid grid-list-md>
    <v-card-title  class="title font-weight-light blue-grey lighten-4 black--text" >
        <v-avatar style="size:70px;"><img :src="imageURL"></v-avatar>
        <span style="font-size:25px; padding:20px;">
          <b>{{username}}</b>
        </span>
      </v-card-title>
  
    <v-textarea
      :disabled="status"
      solo
      label="Comment"
      auto-grow
      v-model="comment"
    ></v-textarea>

    <v-flex>
      <v-btn outline small @click="addComment" style="float:right;">
        <v-icon color="black">chat</v-icon>Comment
      </v-btn>
      <v-btn outline small @click="editComment" style="float:right;">
        <v-icon color="black">edit</v-icon>Edit
      </v-btn>
    </v-flex>
    
  </v-container>
</template>

<script>
export default {
    props:['userID','status'],
    data: function(){
        return {
            comment:'',
            imageURL:'',
            username:''
        }
    },
    beforeMount(){
      let user = firebase.auth().currentUser
      this.imageURL = user.photoURL;
      this.username = user.displayName
    },
    methods:{
      addComment(){
        // console.log('Add comment in comment card')
        this.$emit('addComment',this.comment)
      },
      editComment(){
        this.$emit('editComment',this.comment)
      }

    }
    
}
</script>