<template>
  <div>
  <v-layout row wrap justify-end="">
      <v-btn dark @click="$router.push('/Provinces/'+province)">
        <v-icon dark left>keyboard_return</v-icon>
        <b>Back</b>
      </v-btn>
  </v-layout>
  <v-container fluid grid-list-lg>
    <v-dialog v-model="comment_dialog" persistent width="500">
       <v-card>
         <v-layout
            justify-center
            wrap
          >
          <v-flex
            xs12
            md10
          >
          <v-form>
            <v-textarea
              class="purple-input"
              label="Comment"
              v-model="comment"
              data-vv-name="comment"
              maxlength="200"
              :counter="200"
              full-width
              single-line
              required
            ></v-textarea>

          <v-btn color="black darken-1" flat outline @click="addComment">Submit</v-btn>
          <v-btn color="black darken-1" flat outline @click="comment_dialog = false">Close</v-btn>
         
          </v-form>
          </v-flex>
          </v-layout>
       </v-card>
    </v-dialog>
  <v-layout row ref="eachplacepage" id="eachplacepage">
    <v-flex xs12 sm12 >
      <v-card>
        <v-card-title class="headline font-weight-regular black white--text">
          <v-icon large dark>location_on</v-icon>
          <span style="font-size:32px">
            <b>{{place}} : {{province}}</b>
          </span>
        </v-card-title>
        <v-carousel>
            <div v-if="place_info.images===null||place_info.images===undefined||place_info.images.length===0">
              <v-carousel-item
              src="https://semantic-ui-vue.github.io/static/images/wireframes/image.png"
              reverse-transition="fade"
              transition="fade"
              ></v-carousel-item>
            </div>
            <div v-else>
              <v-carousel-item
                v-for="(img,i) in place_info.images"
                :key="i"
                :src="img"
                reverse-transition="fade"
                transition="fade"
              ></v-carousel-item>
            </div>
        </v-carousel>

        <v-list two-line>
          <v-list-tile >
            <v-list-tile-action>
              <v-icon color="black">location_on</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>Address</v-list-tile-title>
              <v-list-tile-sub-title>{{place_info.address}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>
            <v-list-tile >
            <v-list-tile-action>
              <v-icon color="black">phone</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>Contact</v-list-tile-title>
              <v-list-tile-sub-title>{{place_info.tel}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider inset></v-divider>

          <v-list-tile >
            <v-list-tile-action>
              <v-icon color="black">short_text</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>Information</v-list-tile-title>
              <!-- <v-list-tile-action-text></v-list-tile-action-text> -->
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn outline small @click="createPDF">
                <v-icon>save_alt</v-icon> Export
              </v-btn>
            </v-list-tile-action>
            </v-list-tile>      
        </v-list>
        <v-layout>
          <v-flex xs12 sm12 md12 lg12>
            <v-card flat>
              <v-card-title primary-title>
                <div>{{place_info.placeInfo}}</div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>

        <v-divider inset></v-divider>
            
            <!-- <v-list-tile >
              <v-list-tile-action>
                <v-icon color="black">insert_comment</v-icon>
              </v-list-tile-action>  
              <v-list-tile-content>
                <v-list-tile-title>Comment</v-list-tile-title>
                <v-list-tile-sub-title>{{place_info.comment}}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn outline small @click="comment_dialog = true">
                  <v-icon color="black">chat</v-icon>
                </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        
        <v-divider inset></v-divider> -->
        <!-- <v-flex>
          <CommentCard
            :userID="uid"
            :status="disable_comment"
            @addComment="addComment"
            @editComment="editComment"
          ></CommentCard>
        </v-flex> -->
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
  </div>
</template>

<script>
import jsPDF from 'jspdf'
import html2canvas from "html2canvas"
// import CommentCard from "./CommentCard"
export default {
    name: 'eachPlace',
    props:['province','place'],//data receive from path
    // components:{CommentCard},
    data(){
        return{
          place_info:{},
          uid:'',
          comment_dialog: false,
          comment:'',
          disable_comment: false,
        }
    },
    beforeMount() {
      this.uid = firebase.auth().currentUser.uid;
      let ref = firebase.database().ref("province");
      let self = this;
      ref.child(this.province).child('place').child(this.place).on("value", function(snapshot) {
        console.log(snapshot.val().info)
        self.place_info = snapshot.val().info
        console.log(self.place_info.images)
        // self.province_places = snapshot.val().place;
        // console.log(self.province_places)
      });

      
    },
    methods: {
        createPDF () {
            let pdfName = this.place+"_"+this.province; //file name
            // let doc = new jsPDF();
            // const contentHtml = this.$refs.eachplacepage.innerHTML;
            // doc.fromHTML(contentHtml, 15, 15, {
            //   width: 170
            // });
            // doc.text("Hello World", 10, 10);
            // doc.save(pdfName + '.pdf')
            html2canvas(this.$refs.eachplacepage, {imageTimeout: 5000}).then(canvas => { //save to pdf by changing to image with a4 size
              let img = canvas.toDataURL('image/png')
              let pdf = new jsPDF('portrait', 'mm', 'a4')
              pdf.addImage(img, 'JPEG', 5, 5, 200, 287)
              pdf.save(pdfName+'.pdf')
            })
        },
        addComment(comment){
          console.log('Adding comment: '+comment)
          // if(!this.place_info.comments.includes(comment)){
          //   this.place_info.comments = []
          //   this.place_info.comments.push(comment)
          // }
          // comment = ''
          // console.log('Comment after add...' + this.place_info.comments)
          this.place_info.comments = comment
          console.log('info'+ this.place_info.comments)
          let path = firebase.database().ref("province")
          .child(this.province)
          .child('place')
          .child(this.place)
          .set({ info: this.place_info })
          .then(data => {
            console.log(data);
            this.disable_comment = true
            // this.comment_dialog = false
          })
          .catch(error => {
            console.log(error);
          });
        },
        editComment(comment){
          this.disable_comment = false
          console.log('Editing comment')
        }
}
}
</script>