<template>
  <div class="hello">
    <h1>Thailand Map</h1>
    <p>
      Please click a state to view state properties
    </p>
    <div>
      <ThailandMap v-on:map-clicked="onMapClick"></ThailandMap>
    </div>
  </div>
</template>

<script>
import ThailandMap from './ThailandMap.vue'
export default {
  name: 'HelloWorld',
  components: {
    ThailandMap
  },
  props: {
    msg: String
  },
  methods: {
    onMapClick: function(attr){
      console.log(`${attr.mapId} and ${attr.title}`)
      this.$notify({
        group: 'map',
        title: 'State clicked',
        text: `You clicked on state with id: ${attr.mapId} and title: ${attr.title}`
      });
    }
  }
}
</script>