<template>
    <div id="app">
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark>
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="account.email"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="account.password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                  <div @click="$router.push('/SignUp')"> Sign up</div>
                <v-spacer></v-spacer>
                <v-btn outline @click="signIn" id="login_btn">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>


<script>
export default {
  name: 'Login',
  data () {
    return {
      account:{
        email:'',
        password:'',
      }
    }
  },
  mounted(){
    this.button_listener() //when press enter @password textfield box, login
  },
  methods:{
    signIn(){
      firebase.auth().signInWithEmailAndPassword(this.account.email,this.account.password)
      .then((async(user)=>{
        await this.$router.push('/ThailandMap')
      }))
      .catch((error)=>{
        alert(error.message)
      })
    },
    button_listener(){
        let input = document.getElementById("password");
        input.addEventListener("keyup", function(event) {
          event.preventDefault();//the default action of the event will not be triggered
          if (event.keyCode === 13) {
            document.getElementById("login_btn").click();//force pressing signin button
          }
        });
      }
  }
}
</script>
