<template key="Navigator">
  <v-navigation-drawer v-model="drawer" absolute dark temporary>
    <v-list>
      <v-list-tile @click="go_to('/ThailandMap')">
        <v-list-tile-action>
          <v-icon>home</v-icon>
        </v-list-tile-action>
        <v-list-tile-title>Home</v-list-tile-title>
      </v-list-tile>

      <v-list-group :value="false" v-for="key in keys" :key="key">
        <template v-slot:activator>
          <v-list-tile>
            <v-list-tile-title>{{key}}</v-list-tile-title>
          </v-list-tile>
        </template>
        <v-list-tile  avatar v-for="(province,i) in nav_info[key]" :key="province+i" @click="go_to('/Provinces/'+province)">
            <v-list-tile-avatar></v-list-tile-avatar>
            <v-list-tile-title class="mr-100">{{province}}</v-list-tile-title>
        </v-list-tile>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: ["show_nav","nav_info"],
  data() {
    return {
      drawer: null,
      keys:[]
    };
  },
  beforeMount() {
    console.log("created nav")
    this.drawer = this.show_nav;
    this.keys = Object.keys(this.nav_info)
  },
  methods:{
      go_to(path){
        //go to path
        // console.log("go to",path)
        this.$router.push(path)
      }
  },
  watch: {
    show_nav: function() {
      //whenever show_nav change, trigger this
      this.drawer = this.show_nav;
    }
  }
};
</script>