<template>
  <div>
    <v-card >
      <v-layout>
        <v-flex xs5 md5 lg5>
            <div>
              <v-img v-if="information.images!==null&&information.images!==undefined" 
                :src="information.images[0]"
                height="200px"
                alt="attraction_image"
                contain
              ></v-img>
              <v-img v-else src="https://semantic-ui-vue.github.io/static/images/wireframes/image.png" height="200px" alt="attraction_image" contain></v-img>
            </div>
        </v-flex>
        <v-flex xs7 md7 lg7>
            <v-card-title primary-title>
                <div>
                    <div class="headline"><b>{{place_name}}</b></div>
                    <div>{{information.placeInfo}}</div>
                </div>
            </v-card-title>
        </v-flex>
      </v-layout>
      <v-divider light></v-divider>
      <v-card-actions class="pa-3">
        <v-list-tile-avatar flat>
        <!-- if user info did not contain imageURL, it will use default image instead -->
        <v-img v-if="user_information.photoURL===''||user_information.photoURL===null||user_information.photoURL===undefined"
          class="elevation-2"
          src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png"
        ></v-img>
        <v-img v-else
          class="elevation-2"
          :src="user_information.photoURL"
        ></v-img>
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-if="user_information.displayName!==''">{{user_information.displayName}}</v-list-tile-title>
          <v-list-tile-title v-else>{{user_information.email}}</v-list-tile-title>
        </v-list-tile-content>
        <v-spacer></v-spacer>
        <v-btn v-if="show_options" outline @click="editProvince">Edit</v-btn>
        <v-btn v-if="show_options" outline @click="deletePlace">Delete</v-btn>
        <v-btn outline @click="more_detail">More Detail</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["place_name", "info","user_info","showoptions"],
  data: function() {
    return {
      show_options:false, //show edit-delete options if the user is the person who add data
      information:{},
      user_information:{
        photoURL:'',
        displayName:''
      }
    };
  },
  created(){
    // console.log(this.place_name)
    console.log(this.info)
    this.information = this.info.info
    // console.log(this.information)
    console.log("user_info",this.user_info)
    if(this.user_info!==undefined)this.user_information = this.user_info
    this.show_options = this.showoptions
  },
  methods: {
      more_detail(){
          //send back to parent component the place being click
          this.$emit('more_detail',this.place_name)
      },
      editProvince(){
          this.$emit('editProvince',this.place_name,this.info)
      },
      deletePlace(){
          this.$emit('deletePlace',this.place_name)
      }
  },
  watch:{
    user_info:function(){
      console.log("user_information changed")
      this.user_information = this.user_info
    }
  }
};
</script>