<template>
  <div :key="reload" data-app="true">
    <v-layout row wrap justify-end>
      <v-btn dark @click="$router.push('/ThailandMap')">
        <v-icon dark left>keyboard_return</v-icon>
        <b>Back</b>
      </v-btn>
    </v-layout>
    <v-alert
      v-model="alert"
      color="error"
      icon="warning"
      outline
      style="color:red;"
    >Fail Adding Tourist Attraction Again</v-alert>
    <v-card>
      <v-card-title class="headline font-weight-regular black white--text">
        <v-icon large dark>location_on</v-icon>
        <span style="font-size:32px">
          <b>{{province}}</b>
        </span>
      </v-card-title>
      <v-container fluid grid-list-lg>
        <!--add and search-->
        <v-layout row wrap>
          <v-btn dark @click="dialog=true;method='add';">
            <v-icon dark left>add</v-icon>
            <b>Add tourist attraction</b>
          </v-btn>
          <v-spacer></v-spacer>
          <v-text-field solo label="Search" prepend-inner-icon="search" v-model="search"></v-text-field>
        </v-layout>
        <!--dialog for add and edit-->
        <v-dialog v-model="dialog" persistent fullscreen>
          <v-card>
            <v-card-title>
              <v-toolbar card dark color="black">
                <v-toolbar-title v-if="method==='add'">Add Attraction for {{province}}</v-toolbar-title>
                <v-toolbar-title v-else>Edit {{edit_place_name}}'s Information</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click="dialog = false">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-form data-vv-scope="main" key="main_form">
                <v-layout wrap justify-start>
                  <v-flex xs12 sm12 md6>
                    <v-text-field
                      v-model="provinceInfo.name"
                      v-validate.persist="'required'"
                      data-vv-name="name"
                      :error-messages="errors.first('main.name')"
                      type="text"
                      label="Attraction name*"
                      :disabled="method==='add'?false:true"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-textarea
                      v-model="provinceInfo.placeInfo"
                      v-validate.persist="'required'"
                      data-vv-name="info"
                      :error-messages="errors.first('main.info')"
                      type="text"
                      label="Information*"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm6 lg6>
                    <v-text-field v-model="provinceInfo.tel" label="Contact Number"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-textarea v-model="provinceInfo.address" label="Address"></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-layout justify-start>
                      <!--allow maximum of 3 images-->
                      <v-btn v-if="this.provinceInfo.images===null||this.provinceInfo.images===undefined||this.provinceInfo.images.length<3"
                        color="black darken-1" flat outline
                        @click="image_dialog=true"
                      >Add Image URL</v-btn>
                    </v-layout>                    
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-card>
                      <v-container grid-list-sm fluid>
                        <v-layout row wrap>
                          <v-flex v-for="image in this.provinceInfo.images" :key="image" xs4 d-flex>
                            <v-card flat tile class="d-flex">
                              <v-img
                                :src="`${image}`"
                                aspect-ratio="1"
                                class="grey lighten-2"
                              >
                              <v-layout justify-end>
                                <v-btn small @click="removeImage(image)">
                                  <v-icon>close</v-icon>
                                </v-btn>
                              </v-layout>
                              </v-img>
                            </v-card>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </v-flex>
                </v-layout>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="black darken-1" flat outline @click="submit">Submit</v-btn>
              <v-btn color="black darken-1" flat outline @click="close_dialog">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!--confirm delete dialog-->
        <v-dialog v-model="delete_dialog" persistent max-width="700">
          <v-card>
            <v-toolbar card dark color="black">
              <v-toolbar-title>Delete confirmation</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon dark @click="delete_dialog = false;delete_place_name=''">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text
              style="font-size:20px;"
            >Would you like to delete the Information of {{delete_place_name}}?</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat outline @click="deletePlace">Yes</v-btn>
              <v-btn flat outline @click="delete_dialog=false;delete_place_name='';">No</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!--add image dialog-->
        <v-dialog v-model="image_dialog" persistent max-width="700">
          <v-card>
            <v-toolbar card dark color="black">
              <v-toolbar-title>Add Image URL</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon dark @click="image_dialog = false;provinceInfo.imageurl=''">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <v-form data-vv-scope="image" key="image_form">
                <v-text-field
                  v-model="provinceInfo.imageurl"
                  type="text"
                  label="Image URL*"
                  v-validate.persist="'required|url: {require_protocol: true }'"
                  data-vv-name="imageURL"
                  :error-messages="errors.first('image.imageURL')"
                  ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn flat outline @click="addImage">Add</v-btn>
              <v-btn flat outline @click="image_dialog=false;provinceInfo.imageurl='';">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <br>
        <!--Show data part-->
        <v-layout row wrap>
          <div v-if="places_computed.length!==0">
            <v-flex xs12 md12 lg12 v-for="place in places_computed" :key="place">
              <PlaceCard
                :place_name="place"
                :info="province_places[place]"
                :user_info="users_info[province_places[place].info.uid]"
                :showoptions="province_places[place].info.uid===uid"
                @more_detail="more_detail"
                @editProvince="editProvinceEvent"
                @deletePlace="confirm_delete"
              ></PlaceCard>
            </v-flex>
          </div>
          <div v-else>
            <v-flex xs12 md12 lg12>
              <v-alert :value="true" outline color="black" icon="warning">
                <span v-if="no_data">No data found</span>
                <span v-else>No attraction name matched "{{search}}"</span>
              </v-alert>
            </v-flex>
          </div>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Vue from "vue";
import VeeValidate from "vee-validate";
import PlaceCard from "./PlaceCard";

Vue.use(VeeValidate);

export default {
  name: "provinceCard",
  props: ["province"],
  components: { PlaceCard },
  $_veeValidate: {
    validator: "new"
  },
  data() {
    return {
      reload:0, //use as page key to reload value without refreshing page
      users_info: {},
      province_places: {},
      places: [],
      search: "",
      dialog: false,
      delete_dialog: false,
      image_dialog:false,
      no_data: false,
      edit_place_name: "",
      delete_place_name: "",
      alert: false,
      method: "", //add or edit to manipulate dialog
      uid: "",
      provinceInfo: {
        name: "",
        imageurl: "",
        placeInfo: "",
        address: "",
        tel: "",
        comment:"",
        images:[]
      },
      default_provinceInfo: {
        name: "",
        imageurl: "",
        placeInfo: "",
        address: "",
        tel: "",
        comment:"",
        images:[]
      }
    };
  },
  beforeMount() {
    console.log("create",this.province," page")
    //user id of current user
    this.uid = firebase.auth().currentUser.uid;
    this.get_province();
    this.get_users();
  },
  methods: {
    get_province(){
       let ref = firebase.database().ref("province");
      let self = this;
      ref.child(this.province).on("value", function(snapshot) {
        // console.log(snapshot.val().place)
        self.province_places = snapshot.val().place;
        // console.log(self.province_places)
        if (self.province_places !== null && self.province_places !== undefined){
          self.places = Object.keys(self.province_places);
          self.places.forEach(function(el){
            //convert to array if not null of undefined
            if(self.province_places[el].images!==null&&self.province_places[el].images!==undefined)
              self.province_places[el].images = Object.values(self.province_places[el].images) //convert object data to array
          })
        }  
        //extract key of object
        //since data from firebase is not in array format but object instead
        else {
          self.no_data = true; //data from database is not found
        }
      });
    },
    get_users() {
      let ref = firebase.database().ref("users");
      let self = this;
      ref.on("value", function(snapshot) {
        self.users_info = snapshot.val(); //get all user info
        // console.log(self.users_info)
      });
    },
    more_detail(place_name) {
      //to handle event from child component -> when more detail button is clicked
      // console.log(place_name);
      //push to new path
      this.$router.push(`/Provinces/${this.province}/${place_name}`);
    },
    addProvince() {
      this.dialog = false;
      let path;
      this.uid = firebase.auth().currentUser.uid;
      // console.log("User id:" + this.uid); //keep user id that add this place
      path = firebase.database().ref("province"); //retrieve user input from ui->province node in database
      let attract_name = this.provinceInfo.name;
      delete this.provinceInfo.name;
      delete this.provinceInfo.imageurl
      this.provinceInfo.uid = this.uid;
      this.provinceInfo.images = Object.assign({}, this.provinceInfo.images);//convert image to object format
      // console.log(this.provinceInfo);
      path
        .child(this.province)
        .child("place")
        .child(attract_name)
        .set({ info: this.provinceInfo })
        .then(data => {
          // console.log(data);
          this.close_dialog();
          // window.location.reload()
        })
        .catch(error => {
          console.log(error);
        });
    },
    editProvince() {
      //call database -> editing attraction name is not allowed
      var path = firebase.database().ref("province");
      delete this.provinceInfo.name;
      delete this.provinceInfo.imageurl
      this.provinceInfo.images = Object.assign({}, this.provinceInfo.images);
      path
        .child(this.province)
        .child("place")
        .child(this.edit_place_name)
        .set({ info: this.provinceInfo })
        .then(data => {
          // console.log(data);
          this.close_dialog();
          this.reload++;
          // this.$router.go() //refresh page
        })
        .catch(error => {
          console.error(error);
        });
    },
    editProvinceEvent(place_name, info) {
      //handle event from child -> make the form in edit format
      this.method = "edit";
      this.edit_place_name = place_name;
      // console.log("Edit: ", place_name, info);
      this.provinceInfo = Object.assign({}, info.info); //clone object
      this.provinceInfo.name = place_name;
      this.dialog = true;
    },
    submit() {
      this.$validator.validateAll('main').then( valid => { //validate all field in form scope main
        if (valid) {
          if (this.method === "add") {
            this.addProvince();
          } else if (this.method === "edit") {
            this.editProvince();
          }
        } else {
          this.alert = true;
          console.log("Invalid Input");
        }
      });
    },
    confirm_delete(place_name) {
      //show dialog to confirm delete
      this.delete_dialog = true;
      this.delete_place_name = place_name;
    },
    deletePlace() {
      console.log("delete ", this.delete_place_name);
      this.delete_dialog = false; //close dislog
      var path = firebase.database().ref("province");
      path
        .child(this.province)
        .child("place")
        .child(this.delete_place_name)
        .remove()
        .then(data => {
          console.log("successfully remove");
          this.delete_place_name = "";
          // window.location.reload() //refresh page
        })
        .catch(error => {
          console.error(error);
        });
    },
    close_dialog() {
      this.dialog = false;
      this.provinceInfo = Object.assign({}, this.default_provinceInfo); //clone object
      this.method = "";
      this.edit_place_name = "";
    },
    addImage(){
      this.$validator.validateAll('image').then((result)=>{//validate input from scope of image dialog
        if(result){
          //if images is prviously blank or
          //if the image is not in array of image yet(prevent duplicate image)
          if(this.provinceInfo.images===null|| this.provinceInfo.images===undefined||!this.provinceInfo.images.includes(this.provinceInfo.imageurl)){
            if(this.provinceInfo.images===null|| this.provinceInfo.images===undefined)this.provinceInfo.images = []
            this.provinceInfo.images.push(this.provinceInfo.imageurl)
          }
          this.provinceInfo.imageurl=''
          this.image_dialog = false;
        }else{
          console.log("invalid input")
        }
      })
    },
    removeImage(image){
      //remove data from array if have similar value
      this.provinceInfo.images = this.provinceInfo.images.filter(img => img !== image)
    }
  },
  computed: {
    places_computed() {
      //search substring of place name
      return this.places.filter(data => {
        return this.search
          .toLowerCase()
          .split(" ")
          .every(v => data.toLowerCase().includes(v));
      });
    }
  },
  watch:{
    province:function(){//when path change, sometimes the page data didn't refresh so we force changing it
      console.log("page change to",this.province)
      this.uid = firebase.auth().currentUser.uid;
      this.get_province()
      this.get_users()
      this.reload++;
    }
  }
};
</script>