<template>
    <v-layout justify-center>
    <v-flex xs12 sm8>
      <v-card>
        <v-card-title class="black darken-1">
          <span class="headline white--text">Signup </span>
        </v-card-title>
            <form id="signupform">
                <v-text-field
                v-model="email"
                v-validate="'required|email'"
                :error-messages="errors.first('email')"
                label="E-mail"
                data-vv-name="email"
                required
                ></v-text-field>
                <v-text-field
                ref="password"
                v-model="password"
                v-validate="'required|max:20|min:6'"
                type="password"
                :counter="20"
                :error-messages="errors.first('password')"
                label="Password"
                data-vv-name="password"
                required
                ></v-text-field>
                <v-text-field
                v-model="password_confirm"
                v-validate="'required|confirmed:password'"
                type="password"
                :counter="20"
                :error-messages="errors.first('confirm password')"
                label="Confirm Password"
                data-vv-name="confirm password"
                required
                ></v-text-field>
                <v-text-field
                v-model="username"
                v-validate="'required|max:20'"
                :counter="20"
                :error-messages="errors.first('username')"
                label="Username"
                data-vv-name="username"
                required
                ></v-text-field>
                <v-text-field
                v-model="imageURL"
                :error-messages="errors.first('imageURL')"
                label="imageURL"
                data-vv-name="imageURL"
                required
                ></v-text-field>

                <v-btn color="black" outline dark @click="updateUser">Submit
                    <v-icon dark right>check_circle</v-icon>
                </v-btn>
                <v-btn color="black" dark outline @click="clear">Clear
                    <v-icon dark right>block</v-icon>
                </v-btn>
                <br><br>
            </form>
        </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Vue from 'vue'
  import VeeValidate from 'vee-validate'

  Vue.use(VeeValidate)

  export default {
    name:'sigup',
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
    email: '',
    password: '',
    password_confirm:'',
    username: '',
    imageURL: '',
      dictionary: {
        attributes: {
          email: 'E-mail Address'
          // custom attributes
        },
      }
    }),
    methods:{
      async updateUser(){
        let self = this
        let user
        this.$validator.validateAll() //validate all data using frontend
        .then(async(valid)=>{
          if(valid){
            //to update email and password - to firebase authen
            await firebase.auth().createUserWithEmailAndPassword(this.email,this.password)
            //to update user info
            user = firebase.auth().currentUser
            user.updateProfile({
              displayName: self.username,
              photoURL: self.imageURL
            })
            .then(()=> {
              console.log("user",user)
              let path = firebase.database().ref("users"); //separately keep user info since firebase auth won't allow access if not currently login
              path
                .child(user.uid)
                .set({ 
                  displayName:user.displayName,
                  email:user.email,
                  photoURL:user.photoURL
                 })
                .then(data => {
                  console.log(data);
                })
                .catch(err => {
                  console.log(err);
                });
            })
            .then(()=> {
              console.log(self.username, self.imageURL)
              this.$router.push('/ThailandMap')
            }).catch((error)=> {
              console.log(error)
            })
          }else{
            console.log("invalid input")
          }
        })
      },
      clear () {
        this.email = ''
        this.password = ''
        this.password_confirm = ''
        this.username = ''
        this.imageURL = ''
        this.$validator.reset()
      }
      
    },

    mounted () {
      this.$validator.localize('en', this.dictionary)
    },

  }
</script>

<style scoped>
#signupform{
    margin: 20px;
}
</style>
