<template>
  <div>
    <v-card>
      <v-card-title class="headline font-weight-regular black white--text">
        <v-icon large dark left>map</v-icon>
        <span style="font-size:32px">
          <b>Where would you like to travel to?</b>
        </span>
      </v-card-title>
      <v-layout row wrap align-center>
        <v-flex xs12 md12 lg8>
          <br>
          <h1>Province: {{hover_province}}</h1>
          <br>
          <ThailandMap @map-clicked="onMapClick" @map-hover="maphover"></ThailandMap>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import ThailandMap from './ThailandMap.vue'
export default {
  name: 'ThailandMapPage',
  components: {
    'ThailandMap':ThailandMap
  },
  data:function(){
    return{
        hover_province:" - ",
    }
  },
  created(){
    console.log("create map page")
  },
  methods: {
    onMapClick: function(attr){
        //function to handle when map is click (from emit in child component)
      console.log(`${attr.mapId} and ${attr.title}`)
      this.$router.push('/Provinces/'+attr.title) //go to province page with value of province user interested
    },
    maphover(params){
        //function to handle when province in map is being hover (from emit in child component)
      console.log(`${params.mapId} and ${params.title}`)
      this.hover_province = params.title
    }
  }
}
</script>