<template>
    <div>
        <div id="thailandMap" class="svg-container"></div>
    </div>
</template>
<script>
    //import map data
    import thailandMap from "../assets/thailandMap"
    //references : https://blog.carbonteq.com/creating-interactive-map-in-vue-js/
    //but we explore more on svg.js and intregrate more function into it
    export default {
        name: "ThailandMap",
        data: function () {
            return {
                mapAttr: {
                    viewBoxWidth: 1106,
                    viewBoxHeight: 1106,
                    imageWidth: 1106,
                    imageHeight: 1106,
                },
                svgContainer: null,
                //color the province according to its region
                province_color:{
                    Central:"#db97cb", 
                    East:"#56527a",
                    Northeast:"#de896f",
                    North:"#b58e4c",
                    West:"#72b095",
                    South:"#82c0ff",
                }
            }
        },
         created(){
            console.log("create map")
        },
        mounted: function () {
            this.generateVenueMap()
        },
        methods: {
            generateVenueMap: function () {
                console.log("generate map")
                if(document.getElementsByTagName("svg").length==1){//resolve duplicate map error by checking number of tag svg instead
                    const vue = this;
                    const mapData = thailandMap.g.path
                    const svgContainer = vue.$svg("thailandMap").size('100%', '100%').viewbox(-200, 0, vue.mapAttr.viewBoxWidth, vue.mapAttr.viewBoxHeight);
                    mapData.forEach((pathObj) => {
                        vue.generatePath(svgContainer, pathObj);
                    })
                }
            },
            generatePath: function (svgCont, pathObj) {
                const vue = this;
                
                const attrs = {
                    //color the province according to its region
                    'fill': this.province_color[pathObj["-region"]],
                    'stroke': "white",
                    'stroke-width': 2,
                    'title': pathObj["-title"],
                    'map-id': pathObj["-id"],
                };
                const element = svgCont.path(pathObj["-d"]).attr(attrs);
                element.click(function () {
                    const mapId = this.node.attributes["map-id"].value;
                    const title = this.node.attributes["title"].value;
                    //return data to parent component
                    vue.$emit("map-clicked", {mapId, title});
                })
                element.mouseover(function () {
                    const mapId = this.node.attributes["map-id"].value;
                    const title = this.node.attributes["title"].value;
                    //when mouse move over the province, make it lighter
                    this.attr({'fill-opacity': 0.5})
                    //return data to parent component
                    vue.$emit("map-hover", {mapId, title});
                })
                element.mouseout(function () {
                    //make it back to normal color when moveout
                    this.attr({'fill-opacity': 1})
                })
            }
        }

    }
</script>