<template>
  <div>
    <v-card>
      <v-card-title class="headline font-weight-regular black white--text">
        <v-icon large dark>people_outline</v-icon>
        <span style="font-size:32px; margin:5px;">
          <b>{{display_info.username}}</b>
        </span>
      </v-card-title>
      <v-container fluid grid-list-lg data-app="true">
        <v-dialog v-model="dialog" persistent fullscreen>
          <v-card>
            <v-card-title>
              <v-toolbar card dark color="black">
                <v-toolbar-title>Update User Profile</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click="close_dialog">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar>
            </v-card-title>
            <v-layout justify-center wrap>
              <v-flex xs12 md8>
                <v-container py-0>
                  <v-form data-vv-scope="profile">
                    <v-layout row wrap>
                      <v-avatar slot="offset" class="mx-auto d-block" size="130">
                        <v-img
                          v-if="input_info.imageURL===null||input_info.imageURL===undefined||input_info.imageURL===''"
                          class="elevation-2"
                          src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png"
                        ></v-img>
                        <v-img v-else class="elevation-2" :src="input_info.imageURL"></v-img>
                        <!-- <img :src="imageURL"> -->
                      </v-avatar>
                      <v-flex xs12>
                        <v-text-field
                          class="purple-input"
                          label="User Name"
                          v-model="input_info.username"
                          v-validate="'required|max:20'"
                          :counter="20"
                          :error-messages="errors.first('profile.username')"
                          data-vv-name="username"
                          required
                        />
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          label="Email Address"
                          class="purple-input"
                          v-model="input_info.email"
                          v-validate="'required|email'"
                          :error-messages="errors.first('profile.email')"
                          data-vv-name="email"
                          required
                        />
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          label="Image URL"
                          class="purple-input"
                          v-model="input_info.imageURL"
                          :error-messages="errors.first('profile.imageURL')"
                          data-vv-name="imageURL"
                          required
                        />
                      </v-flex>
                    </v-layout>
                  </v-form>
                </v-container>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="black darken-1" flat outline @click="updateUser">Submit</v-btn>
                  <v-btn color="black darken-1" flat outline @click="close_dialog">Cancel</v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-card>
        </v-dialog>
        <v-dialog v-model="password_dialog" persistent :scrollable="false">
          <v-card>
            <v-card-title>
              <v-toolbar card dark color="black">
                <v-toolbar-title>Change Password</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click="close_password">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar>
            </v-card-title>
            <v-layout justify-center wrap>
              <v-flex xs12 md8>
                <v-form>
                  <v-container py-0>
                    <v-form data-vv-scope="pwd">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-text-field
                            label="Old Password"
                            class="purple-input"
                            v-model="old_password"
                            v-validate="'required|max:20|min:6'"
                            type="password"
                            :counter="20"
                            :error-messages="errors.first('pwd.oldpassword')"
                            data-vv-name="oldpassword"
                            required
                          />
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            label="New Password"
                            class="purple-input"
                            ref="newpassword"
                            v-model="input_info.password"
                            v-validate="'required|max:20|min:6'"
                            type="password"
                            :counter="20"
                            :error-messages="errors.first('pwd.newpassword')"
                            data-vv-name="newpassword"
                            required
                          />
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field
                            label="Confirm password"
                            class="purple-input"
                            v-model="input_info.password_confirm"
                            v-validate="'required|confirmed:newpassword'"
                            type="password"
                            :counter="20"
                            :error-messages="errors.first('pwd.confirm password')"
                            data-vv-name="confirm password"
                            required
                          />
                        </v-flex>
                      </v-layout>
                    </v-form>
                  </v-container>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="black darken-1" flat outline @click="change_password">Submit</v-btn>
                    <v-btn color="black darken-1" flat outline @click="close_password">Cancel</v-btn>
                  </v-card-actions>
                </v-form>
              </v-flex>
            </v-layout>
          </v-card>
        </v-dialog>
        <v-layout row wrap>
          <v-flex xs5 md5 lg5>
            <v-avatar slot="offset" class="mx-auto d-block" size="130">
              <!-- <img :src="imageURL"> -->
              <v-img
                v-if="display_info.imageURL===''||display_info.imageURL===null||display_info.imageURL===undefined"
                class="elevation-2"
                src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png"
              ></v-img>
              <v-img v-else class="elevation-2" :src="display_info.imageURL"></v-img>
            </v-avatar>
          </v-flex>
          <v-flex xs7 md7 lg7>
            <v-card-title primary-title>
              <div>
                <div class="headline">
                  <b>Username: {{display_info.username}}</b>
                </div>
                <h3>Email: {{display_info.email}}</h3>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-actions class="pa-3">
          <v-spacer></v-spacer>
          <v-btn color="black" dark @click="update_user_click">
            <v-icon dark left>update</v-icon>Update Profile
          </v-btn>
          <v-btn color="black" dark @click="password_dialog=true;">
            <v-icon dark left>edit</v-icon>Change Password
          </v-btn>
        </v-card-actions>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Vue from "vue";
import VeeValidate from "vee-validate";

Vue.use(VeeValidate);

export default {
  name: "user",
  $_veeValidate: {
    validator: "new"
  },

  data: () => ({
    display_info: {
      email: "",
      password: "",
      password_confirm: "",
      username: "",
      imageURL: ""
    },
    input_info: {
      email: "",
      password: "",
      password_confirm: "",
      username: "",
      imageURL: ""
    },
    old_password: "",
    password_dialog: false,
    dialog: false,
    dictionary: {
      attributes: {
        email: "E-mail Address"
        // custom attributes
      }
    }
  }),
  beforeMount() {
    //get current user
    this.get_user();
  },
  methods: {
    async updateUser() {
      let self = this;
      this.$validator.validateAll("profile").then(async valid => {
        if (valid) {
          this.dialog = false;
          console.log("username: " + this.username);
          //to update user profile in authf
          let user = firebase.auth().currentUser;
          let newEmail = self.input_info.email;

          user
            .updateProfile({
              displayName: self.input_info.username,
              photoURL: self.input_info.imageURL
            })
            .then(() => {
              user
                .updateEmail(newEmail)
                // console.log(user.email)
                .then(() => {
                  firebase
                    .database()
                    .ref("users")
                    .child(user.uid)
                    .set({
                      displayName: user.displayName,
                      email: user.email,
                      photoURL: user.photoURL
                    })
                    .then(data => {
                      self.get_user(); //get updated user information
                      console.log(data);
                    })
                    .catch(err => {
                      console.log(err);
                    });
                });
            })
            .catch(error => {
              // An error happened.
              console.log(error);
            });
        }
      });
    },
    get_user() {
      //get user info and save in variable
      let user = firebase.auth().currentUser;
      console.log("before mount");
      console.log(user);
      if (user != null) {
        this.display_info.username = user.displayName;
        this.display_info.email = user.email;
        this.display_info.imageURL = user.photoURL;
        let newInputInfo = {
          username: user.displayName,
          email: user.email,
          imageURL: user.photoURL
        };
        this.input_info = newInputInfo;
      }
    },
    close_dialog() {
      console.log(this.display_info);
      this.dialog = false;
    },
    update_user_click() {
      //when user were about to update their profile
      this.dialog = true;
      this.input_info = Object.assign({}, this.display_info); //duplicate object
    },
    close_password() {
      //reset all value when close
      this.password_dialog = false;
      this.input_info.password = "";
      this.input_info.password_confirm = "";
      this.old_password = "";
    },
    change_password() {
      //change password send to firebase
      let self = this;
      firebase
        .auth()
        .signInWithEmailAndPassword(this.display_info.email, this.old_password) //relogin before
        .then(async user => {
          this.$validator.validateAll("pwd").then(async valid => {
            if (valid) {
              let user_ = firebase.auth().currentUser;
              user_.updatePassword(self.input_info.password).then(
                () => {
                  console.log("change pass success");
                  self.close_password();
                },
                error => {
                  console.log("change pass error");
                  self.close_password();
                }
              );
            } else {
              console.log("invalid input");
            }
          });
        })
        .catch(error => {
          //error occur during login
          alert(error.message);
        });
    }
  },

  mounted() {
    this.$validator.localize("en", this.dictionary);
  }
};
</script>