<template>
  <div id="app" :key="app_id">
    <!-- toolbar -->
    <v-toolbar dark>
      <v-toolbar-side-icon :disabled="control_action()" @click="show_nav=!show_nav"></v-toolbar-side-icon>

      <v-toolbar-title class="white--text"></v-toolbar-title>

      <v-spacer></v-spacer>
    
        <v-toolbar-title class="mr-3">
          {{username}}
        </v-toolbar-title>
        <v-avatar size="24">
          <!--Show default image if no image found-->
          <v-img v-if="imageURL===''||imageURL===null||imageURL===undefined"
            class="elevation-2"
            src="https://d2x5ku95bkycr3.cloudfront.net/App_Themes/Common/images/profile/0_200.png"
          ></v-img>
          <v-img v-else
            class="elevation-2"
            :src="imageURL"
          ></v-img>
        </v-avatar>
        <v-btn @click="signOut" icon :disabled="control_action()">
          <v-icon>lock</v-icon>
        </v-btn>


      <v-btn icon :disabled="control_action()" @click="$router.push('/UserProfile')">
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <!-- navigator -->
    <Navigator :show_nav="show_nav" :nav_info="nav_info"></Navigator>
    <!-- render page -->
    <v-container>
      <router-view/>
    </v-container>
  </div>
</template>

<script>
import Navigator from './components/Navigator'
export default {
  name: 'App',
  components:{Navigator},
  data(){
    return{
      app_id:0,
      show_nav:false,
      nav_info:{
        Central:[],
        North:[],
        South:[],
        East:[],
        Northeast:[],
        West:[],
        // imageURL: "",
        // username: ""
      }
    }
  },
  created(){
    let data,keys;
    let self = this
    //get province information from database
    let ref = firebase.database().ref("province").on("value", function(snapshot) {
      data = snapshot.val();
      // console.log(data)
      if(data!==null&&data!==undefined)keys= Object.keys(data); //extract key or known as Province name
      // console.log(keys)
      keys.forEach(el=>{ //extract data to be kept in its region
        self.nav_info[data[el].region].push(el)
      })
    })
    this.get_user()
  },
  beforeUpdate() {//update profile on top everytime it page reload
    this.get_user()
  },
  methods:{
    get_user(){//get user information
      let user = firebase.auth().currentUser;
      if (user != null) {
        this.username = user.displayName;
        this.email = user.email;
        this.imageURL = user.photoURL;
      }
    },
    signOut(){//signout
      firebase.auth().signOut()
      .then(()=>{
        this.user = null;
        this.$router.replace('/Login')
        console.log("Signed Out!!")
      })
      .catch((error)=>{
        console.log(error)
      })
    },
    control_action(){
      //if the page is not page before authen, don't allow using nav bar
      console.log(this.$route.path)
      if(this.$route.path!=="/Login"&&this.$route.path!=="/SignUp")return false
      else return true
    }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
